{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<link rel="stylesheet" href="/css/master.css">


<h1 class="intro">LIFE IS TOO SHORT FOR BEING JUDGED.</h1>


<div class="">
<h1 class="fet h1">✨A Place Where You Can Be Yourself.</h1>
<br>
<div class="about">

<h3>In this era where everything is judged we here provide you a place to be real and yourself! We aim to provide a platform to people who are unable to share their thoughts in the open and have a lot to say. we assure you a 100% judgement free zone.
<br><br>
Along with expressing yourself you can approach us if you need any kind of help, be it financial, emotional or educational. Just reach out to us and we'll see what we can do.
<br><br>
This is also a place where we connect the youth to contribute to the social cause. We are more than welcome to include volunteers in our team. Check out the form if you are interested.

</h3>
</div>

</div>
<br>
<br>
<section id="testimonials">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>💜You can now share your views openly with everyone.💜</h2>
      </div>
      <div class="carousel-item">
        <h2>🤝🏻You can reach out to us for any kind of help!🤝🏻</h2>
      </div>
      <div class="carousel-item">
        <h2>🙌🏻You can also contribute by joining our team and volunteering with us!🙌🏻</h2>
      </div>
    </div>

  </div>
</section>
<br>
<section id="cta">

    <h3 class"cta-desc">If you are interested in volunteering click below.</h3>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7-sCS9qUB7mS-s_YWGYoxz5aeHJOhAHC_GhApa6oSCXLt5Q/viewform?usp=sf_link">Volunteer Now!</a>


  </section>

<footer id="footer">

    <p class="foot">© Copyright 2020 SafeSpace</p>

  </footer>

{% endblock %}
